@use "../../styles/colors";

.user-container {
    display: block;
}

.grid-container {
    align-items: center;
    justify-content: center;
}

.welcome{
    font-size: 1rem;
    line-height: 18px;
    color: colors.$primary_main;
}
