@use "../../styles/colors";

.weather-wrapper {
    display: block;
    margin-right: 60px;
}

.grid-container {
    align-items: center;
    justify-content: center;
}

.image {
    width: 90px;
}

.title {
    color: colors.$primary_main;
}