@use "../../styles/colors";

.header-wrapper{
    margin:50px auto;
    width: 75vw;
    height: 195px;
    min-width: 950px;
}

.header-wrapper .paper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper .paper .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 465px;
}