@use "../../styles/colors";

.name-field{
    width: 97%;
    margin-top: 10px;
    
    label{
        color: black;
    }
    
    div{
        border-radius: 0px;
    }

    *::before, *::after, *{
        border: none !important;
    }
}